name: Snake Generation

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:
  push:

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: push github-contribution-grid-snake.svg to the out/snake branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: main
          build_dir: dist
          commit_message: "ci(snake): deploy"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
