name: Sponsor Generation

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:
  push:
  
jobs:
  build-and-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run afdian-sponsor action
        uses: Sn0wo2/afdian-sponsor@v1
        env:
          AFDIAN_USER_ID: ${{ secrets.AFDIAN_USER_ID }}
          AFDIAN_API_TOKEN: ${{ secrets.AFDIAN_API_TOKEN }}

      - name: Prepare dist folder
        run: |
          mkdir -p dist
          cp afdian-sponsor.svg dist/afdian-sponsor.svg

      - name: push afdian-sponsor-svg to the out/snake branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: out/sponsor
          build_dir: dist
          commit_message: "ci(sponsor): deploy"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
